.wrapper {
  margin-bottom: 1.5rem;
}

.list {
  min-height: fit-content;
  border: var(--border-main);
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #f8f6ff;
}

@media screen and (width >= 768px) {
  .list {
    min-height: 609px;
  }
}
