.container {
  margin: 0 auto;
  padding: 42px 14px;
}

@media screen and (width >= 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    width: 1000px;
  }
}
