.container {
  margin: 0 auto;
  padding: 42px 14px;
  width: 100%;
}

@media screen and (width >= 480px) {
  .container {
    width: 452px;
  }
}

@media screen and (width >= 768px) {
  .container {
    width: 740px;
  }
}

@media screen and (width >= 1200px) {
  .container {
    width: 1000px;
  }
}
