.wrapper {
  position: relative;
  width: fit-content;
}

.button,
.list {
  background-color: var(--white-color);
  border: var(--border-main);
  border-radius: 0.5em;
}

.button,
.item {
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: background 250ms var(--transition);
}

.button:hover,
.item:hover {
  background-color: var(--secondary-color);
}

.button:focus,
.item:focus {
  box-shadow: var(--box-shadow-focus);
  background-color: var(--secondary-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem 0.8rem;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 768px) {
  .button {
    width: 180px;
  }
}

.arrowIcon {
  rotate: -90deg;
  transition: rotate 150ms var(--transition);
}

.arrowIcon.rotate {
  rotate: 90deg;
}

.list {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 0.6rem);
  width: 180px;
  border-radius: 0.5em;
  overflow: hidden;
  pointer-events: none;
  box-shadow: var(--box-shadow-main);
  z-index: 2;
}

.list.show {
  display: block;
  pointer-events: auto;
}

.item {
  position: relative;
  padding: 0.8rem;
}

.item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.item:focus {
  z-index: 2;
}
