@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Open+Sans:wght@400;500;600;700&display=swap');

@import-normalize;

:root {
  --accent-color: #bb7aff;
  --secondary-color: #f0f5fa;
  --white-color: #fff;
  --black-color: #000;
  --disabled-color: #ccc;
  --radio-border-color: #999999;

  --border-main: 1px solid #ccc;
  --border-checkbox: 1px solid #000;
  --box-shadow-main: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-focus: 0 0 0 2px #00a8e8;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  color: var(--black-color);
  background-color: #faf7fa;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
}
